.header{
  padding: 20px 0px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_img_box{}
 .logo_img{
   height: 35px;
 }
 .navbar_nav{}
 .nav_link{
   color: #000;
   text-decoration: none;
   font-weight: 600;
   padding: 10px;
   margin-right: 10px;
   display: inline-block;
 }
 .btn-primary{
   display: inline-block;
   color: #fff;
   background: tomato;
   text-decoration: none;
   padding: 10px 25px;
   border-radius: 5px;
 }
 .search-box input{
  border-radius: 5px 0 0 5px;
  border: 1px solid gray;
  padding-left: 10px;
  width: 40%;
  margin: 10px 0px;
  padding:10px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px
}
.grid img{
  height: 300px;
}